@mixin carousel-theme{
  background: $c-fg-primary;
}

@mixin carousel-title-theme{
  color: $c-primary-dark;
  font-size: $f-carousel-title-size;
  line-height: $f-carousel-title-lh;
  text-align: left;
}

.carousel{
  @include carousel-theme;
  text-align: center;
  padding-bottom: 5rem;
}
.carousel-title{
  @include carousel-title-theme;
  width: 30rem;//mobile
  margin: 0 auto 3rem;
  @media (min-width: 768px) {
    width: 60rem;
    font-size: $f-carousel-title-bigger-size;
  }
  @media (min-width: 1200px) {
    margin: 0;
  }
}