@mixin carousel-theme{
  background: $c-fg-primary;
}

@mixin carousel-title-theme{
  color: $c-primary-dark;
  font-size: $f-carousel-title-size;
  line-height: $f-carousel-title-lh;
  text-align: left;
}

.carousel{
  @include carousel-theme;
  text-align: center;
  padding-bottom: 5rem;
}
.carousel-title{
  @include carousel-title-theme;
  max-width: 25rem;//mobile
  margin-bottom: 3rem;
}