@mixin cp-title-theme{
  font-size: $f-cp-details-title-size;
  line-height: $f-cp-details-title-lh;
  color: $c-primary-dark;
}
@mixin cp-details__about-title{
  color: $c-primary-dark;
  font-size: $f-cp-details-about-title-size;
  line-height: $f-cp-details-about-title-lh;
}
.cp-details{
  background: $c-bg-primary;
}
.cp-details__title{
  @include cp-title-theme;
  margin-top: 1.5rem;
}
.cp-details__title_more{
  display: none;//mobile
}
.cp-details__number{
  @include complementary-info-theme;
}
.cp-details__buttons-col{
  padding: 0;
  @media (min-width: 768px) {
    padding-top: 6rem;
  }
}
.cp-details__title_more{

}
.cp-details__table-col{
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
.cp-details__about-title{
  @include cp-title-theme;
  margin-top: 0;
  margin-bottom: 2.5rem;
}
.cp-details-about{
  width: 100%;
  margin-bottom: 3rem;
}

.cp-details-about-cell{
  vertical-align: top;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  &:first-child{//column 1
    color: $c-table-about-heading;
  }
  &:last-child{//column 2
    color: $c-primary-dark;
  }
}