@mixin footer-theme{
  background: $c-fg-primary;
  text-align: center;
}
@mixin footer-message-theme{
  background: $c-bg-primary;
  color: $c-primary-dark;
  font-size: $f-footer-message-size;
  line-height: $f-footer-message-lh;
  font-style: italic;
}
.footer{
  @include footer-theme;
  padding-bottom: 4rem;
}
.footer__message{
  @include footer-message-theme;
  padding: 8.3rem 2rem 10.3rem;
}

.footer__message-inner{
  max-width: 83rem;
  margin: 0 auto;
}

.footer__person{
  margin-top: -4.5rem;
}