@mixin tooltip-theme{
  background: $c-bg-primary;
  color: $c-primary-dark;
  filter: drop-shadow(rgba(122, 56, 85, 0.11)  0.3rem 0.5rem 2.1rem);
  font-size: $f-tooltip-size;
  line-height: $f-tooltip-lh;
  color: $c-primary-dark;
  font-style: italic;
}

.message{
  background: $c-bg-primary;
  padding: 0.1px 0 1.5rem;
}

.message__tooltip{
  @include tooltip-theme;
  position: relative;
  width:100%;
  padding: 4.2rem 3.8rem 5.5rem;
  border-radius: 6px;
  &:after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.8rem;
    width: 0; height: 0;
    border-top: 3rem solid $c-bg-primary;
    border-right: 1.7rem solid transparent;
    border-left: 1.7rem solid transparent;
  }
  @media (min-width: 1200px){
    width: 81rem;
    top: -4rem;
    left: 6rem;
    filter: drop-shadow(rgba(122, 56, 85, 0.31)  0.3rem 0.5rem 2.1rem);
    &:after{
      top: 50%;
      left: 101%;
      margin-top: -8px;
      border-left: 3rem solid $c-bg-primary;
      border-top: 1.7rem solid transparent;
      border-bottom: 1.7rem solid transparent;
      border-right: none;
    }
  }
}

.message__person{
  margin: 4.5rem auto 0;
  width: 20rem;
}