html{
  font-size: 62.5%;
}

.body-page {
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: $f-primary;
  line-height: $f-base-lh;
}
.body-wrapper{
  overflow: hidden;
  min-width: 320px;
  @media (min-width: 320px){
    overflow-x: auto;
  }
}

// Центровщик
.container-inner {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 450px) {
    width: 440px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  @media (min-width: 320px) {
    width: 310px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

//Центровщик 2

.alternative-container-inner{
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  @media (min-width: 992px){
    width: 940px;
  }
}

//Clearfix

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

//Float

.obj_left{
  float: left;
}

.obj_right{
  float: right;
}

//Measurements

.responsive{
  display: none;
}
.responsive-desktop{
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
}
.responsive-tablet-portret{
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

//Text

.rubles{
  font-family: $f-rubles;
}


//Grid

.first-col{
  padding-left: 0;
}
.last-col{
  padding-right: 0;
}