$icons: (
        sprite: (width: 522px, height: 538px, svgPath: '../img/sprite.svg'),
        arrow-down: (width: 29px, height: 25.439999999999998px, backgroundX: 0px, backgroundY: 0px),
        arrow-down_: (width: 29px, height: 25.439999999999998px, backgroundX: -39px, backgroundY: -36px),
        arrow-leftpink: (width: 25.439999999999998px, height: 29px, backgroundX: -78px, backgroundY: -72px),
        arrow-leftpink_: (width: 25.439999999999998px, height: 29px, backgroundX: -114px, backgroundY: -111px),
        arrow-rightpink: (width: 25.439999999999998px, height: 29px, backgroundX: -150px, backgroundY: -150px),
        arrow-rightpink_: (width: 25.439999999999998px, height: 29px, backgroundX: -186px, backgroundY: -189px),
        arrow-up: (width: 29px, height: 25.4px, backgroundX: -222px, backgroundY: -228px),
        arrow-up_: (width: 29px, height: 25.4px, backgroundX: -261px, backgroundY: -264px),
        close: (width: 37px, height: 36px, backgroundX: -300px, backgroundY: -300px),
        close_: (width: 37px, height: 36px, backgroundX: -347px, backgroundY: -346px),
        comment: (width: 22px, height: 27.1px, backgroundX: -394px, backgroundY: -392px),
        comment_: (width: 22px, height: 27.1px, backgroundX: -426px, backgroundY: -430px),
        exel: (width: 22px, height: 25px, backgroundX: -458px, backgroundY: -468px),
        exel_: (width: 22px, height: 25px, backgroundX: -490px, backgroundY: -503px),
);