$icons: (
        sprite: (width: 136px, height: 151px, svgPath: '../img/sprite.svg'),
        arrow-leftpink: (width: 25.439999999999998px, height: 29px, backgroundX: 0px, backgroundY: 0px),
        arrow-rightpink: (width: 25.439999999999998px, height: 29px, backgroundX: -36px, backgroundY: -39px),
        comment: (width: 22px, height: 27.1px, backgroundX: -72px, backgroundY: -78px),
        exel: (width: 22px, height: 25px, backgroundX: -104px, backgroundY: -116px),
);