$icons: (
        sprite: (width: 214px, height: 223px, svgPath: '../img/sprite.svg'),
        arrow-down: (width: 29px, height: 25.439999999999998px, backgroundX: 0px, backgroundY: 0px),
        arrow-leftpink: (width: 25.439999999999998px, height: 29px, backgroundX: -39px, backgroundY: -36px),
        arrow-rightpink: (width: 25.439999999999998px, height: 29px, backgroundX: -75px, backgroundY: -75px),
        arrow-up: (width: 29px, height: 25.4px, backgroundX: -111px, backgroundY: -114px),
        comment: (width: 22px, height: 27.1px, backgroundX: -150px, backgroundY: -150px),
        exel: (width: 22px, height: 25px, backgroundX: -182px, backgroundY: -188px),
);