//Цвета
$c-primary: #090618;
$c-third: #ed1e79;

$c-bg-primary: #f8f8f8;
$c-fg-primary: #ffffff;

$f-primary: Arial, sans-serif;

$f-person-size: 1.2rem;
$f-person-accent-size: 1rem;
$f-tooltip-size: 1.6rem;

$f-base-lh: 1.54;
$f-person-info-lh: 1.43;
$f-tooltip-lh: 1.25;