//Цвета
$c-primary-dark: #090618;
$c-primary-light: #ffffff;
$c-secondary: #959595;
$c-complementary: #ed1e79;
$c-hover: #6f5f90;

$c-accent-dark: #000000;

$c-fg-primary: #f8f8f8;
$c-bg-primary: #ffffff;

$c-table-about-heading: #8a8a8a;
$c-price-border: #dad7de;

$c-button-feature-border: #e6e4e4;

//Типографика

$f-primary: Arial, sans-serif;
$f-rubles: 'PT Sans', Arial, sans-serif;

$f-person-size: 1.2rem;
$f-person-accent-size: 1rem;
$f-tooltip-size: 1.6rem;
$f-cp-details-title-size: 2.8rem;
$f-cp-details-title-size-desktop: 3.2rem;
$f-cp-details-about-title-size: 2.4rem;
$f-cp-details-about-size: 1.4rem;
$f-complementary-info-size: 1rem;
$f-cp-options-title-size: 2.2rem;
$f-tab-pane-title-size: 2rem;
$f-tab-pane-title-size-desktop: 2.4rem;
$f-tab-pane-description-size: 1.6rem;
$f-menu-size: 1rem;
$f-menu-size-desktop: 1.4rem;
$f-menu-heading: 1rem;
$f-price-caption-size: 1rem;
$f-price-price-size: 2.4rem;
$f-button-choose-size: 1.4rem;
$f-label-size: 1rem;
$f-carousel-caption-size: 1.2rem;
$f-carousel-title-size: 2rem;
$f-carousel-title-bigger-size: 2.4rem;
$f-footer-message-size: 1.8rem;
$f-tabs-link-size: 1.8rem;

$f-base-lh: 1.54;
$f-person-info-lh: 1.43;
$f-tooltip-lh: 1.25;
$f-cp-details-title-lh: 1.14285714286;
$f-cp-details-about-title-lh: 1.58333333;
$f-cp-details-about-lh: 1.28571428571;
$f-complementary-info-lh: 5.4;
$f-cp-options-title-lh: 1.18181818182;
$f-tab-pane-title-lh: 1.9;
$f-button-feature-lh: 1.4;
$f-tab-pane-description-lh: 1.5;
$f-menu-lh: 1.6;
$f-menu-heading-lh: 5.2;
$f-price-caption-lh: 5.2;
$f-price-price-lh: 1.16666666667;
$f-label-lh: 1.6;
$f-carousel-caption-lh: 1.5;
$f-carousel-title-lh: 1.2;
$f-footer-message-lh: 1.55555555556;
$f-tabs-link-lh: 1.5;

//Метрики

$br-button-feature: 0.5rem;
$br-label: 0.5rem;
$b-button-feature: 1px;