//Цвета
$c-primary: #000;
$c-secondary: #fff;
$c-third: #e50051;

$c-light-grey: rgb(240, 240, 240);
$c-middle-grey: #717171;
$c-footer-background: #333333;

//Типографика
$f-primary: Arial, sans-serif;
$f-primary-bold: Arial, sans-serif;
$f-primary-light: Arial, sans-serif;
$f-primary-light-italic: Arial, sans-serif;

$f-form-title: Roboto, Arial, sans-serif;

$f-title-size-small: 2.2rem;
$f-title-size-medium: 2.8rem;
$f-subtitle-size-small: 1.4rem;
$f-subtitle-size-medium: 1.6rem;
$f-form-subtitle-size-small: 1.4rem;
$f-title-size-big: 3rem;
$f-subtitle-size-big: 1.7rem;

$f-base-lh: 1.54;
$f-title-lh: 1.1;
