@mixin button-action-theme{
  background: $c-complementary;
  color: $c-primary-light;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
}

.button-choose{
  @include button-action-theme;
  display: block;
  width: 30rem;
  margin: 1rem auto 0;
  font-size: $f-button-choose-size;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  @media (min-width: 992px) {
    width: 20rem;
    float: left;
  }
}
.button-answer{
  @include button-action-theme;
  padding: 1rem 3rem;
  margin-top: 2rem;
}