@mixin callback-form-theme{
  background: $c-bg-primary;
  z-index:1000;
}
@mixin callback-form-input-theme{
  background: $c-fg-primary;
  color: $c-input-text;
  font-size: $f-input-size;
  line-height: $f-input-lh;
  font-weight: lighter;
}
@mixin callback-form-button-theme{
  background: $c-complementary;
  color: $c-primary-light;
  text-align: center;
  font-size: $f-callback-button-size;
  line-height: $f-callback-button-lh;
  font-weight: bold;
  &:hover{
    background: $c-hover;
  }
}

.callback-form{
  @include callback-form-theme;
  width: 100%;
  max-width: 76rem;
  margin: 10rem auto;
  text-align: center;
  padding: 3rem 1rem;
}

.callback-form__input, .callback-form__button{
  display: block;
  width: 100%;
  max-width: 32.5rem;
}

.callback-form__input{
  @include callback-form-input-theme;
  margin: 2rem auto;
  padding-left: 2rem;
}

.callback-form__button{
  @include callback-form-button-theme;
  margin: 4rem auto;
  transition: background 0.4s ease;
}

.callback-form__close{
  width: 5rem;
  height: 5rem;
  right: 5rem;
  top: 5rem;
  position: absolute;
  font-size: 0;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    @include sprite(close);
  }
  &:hover, &:focus {
    &::after {
      @include sprite(close_);
    }
  }
}