@mixin carousel-small-caption-theme{
  color: $c-primary-dark;
  font-size: $f-carousel-caption-size;
  line-height: $f-carousel-caption-lh;
  text-align: left;
  margin-top: 2.5rem;
}

.carousel-small-item{
  width: 100%;
  &:not(:first-child){
    margin-top: 3rem;
  }
}
.carousel-small-item-img{
  width: 293px;
  height: 140px;
}
.carousel-small-item-caption{
  @include carousel-small-caption-theme;
  height: 5rem;
}