@mixin person-info-theme{
  font-size: $f-person-size;
  line-height: 1.66666666667;
}
@mixin person-accent-theme{
  font-size: $f-person-accent-size;
  font-weight: bold;
  line-height: 2;
  text-transform: uppercase;
}

.person{

}
.person__info{
  color: $c-primary-dark;
  line-height: $f-person-info-lh;
}
.person__info_small{
  @extend .person__info;
}

.person__info_extended{
  @extend .person__info;
  margin-top: 3rem;
}

.person__info-title{
  @include person-accent-theme;
}
.person__info-text{
  @include person-info-theme;
}
.person__info-phone{
  @include person-info-theme;
}
.person__info-email{
  @include person-info-theme;
  color: $c-complementary;
  &:hover, &:focus, &:active{
    color: $c-hover;
  }
}
.person__info-contacts{
  @include person-accent-theme;
  width: 15.5rem;
  margin: 1.5rem auto 0;
  color: $c-complementary;
}
.person__info-contact{
  display: inline-block;
  margin: 0 0.35rem;
  &:first-child{
    margin-left: 0;
  }
  &:last-child{
    margin-right: 0;
  }
  &:hover, &:focus, &:active{
    color: $c-hover;
  }
}

