.photo{

}
.photo_small{
  @extend .photo;
  width: 2.7rem;
  height: 2.7rem;
}

.photo_medium{
  @extend .photo;
  width: 6rem;
  height: 6rem;
}

.photo_big{
  @extend .photo;
  width: 9rem;
  height: 9rem;
}