@mixin tab-pane-inner-title-theme{
  background: inherit;
  color: $c-primary-dark;
  font-size: $f-tab-pane-title-size;
  line-height: $f-tab-pane-title-lh;
}
@mixin tab-pane-inner__description-theme{
  background: $c-bg-primary;
  color: $c-primary-dark;
  font-size: $f-tab-pane-description-size;
  line-height: $f-tab-pane-description-lh;
  font-style: italic;
}
@mixin menu-theme{
  background: $c-fg-primary;
}
@mixin menu-row-theme{
  background: inherit;
  &:nth-child(even) {
    background: $c-bg-primary;
  }
  vertical-align: middle;
  text-align: left;
  color: $c-primary-dark;
  font-size: $f-menu-size;
  line-height: $f-menu-lh;
}
@mixin price-theme{
  background: inherit;
}
@mixin price-row-theme{
  background: inherit;
  vertical-align: baseline;
}
@mixin price-caption-cell-theme{
  color: $c-secondary;
  font-size: $f-price-caption-size;
  line-height: $f-price-caption-lh;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}
@mixin price-price-cell-theme{
  color: $c-secondary;
  font-size: $f-price-price-size;
  line-height: $f-price-price-lh;
  text-align: left;
}
@mixin tab-pane-top-theme{
  background: $c-bg-primary;
}

.tab-pane-inner{
  background: $c-fg-primary;
  padding-bottom: 3.8rem;
}
.tab-pane-inner__title{
  @include tab-pane-inner-title-theme;
  margin-top: 1rem;
  margin-bottom: 0;
}
.tab-pane-inner__description{
  @include tab-pane-inner__description-theme;
  position: relative;
  padding: 2.8rem 6.4rem 3rem 0;
}
.tab-pane-inner__description-phone{
  position: absolute;
  right: 1rem;
  bottom: -0.5rem;
}
.tab-pane-inner__menu{
  @include menu-theme;
  width: 100%;
}
.tab-pane-inner__menu-cell{
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  &:nth-child(4n-3){//column 1
    width: 4.2rem;
    text-align: center;
  }
  &:nth-child(4n-2){
    padding-right: 1.6rem;//column2
  }
  &:nth-child(4n){//column 4
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    font-weight: bold;
  }
}
.tab-pane-inner__menu-row{
  @include menu-row-theme;
  &:first-child {
    .tab-pane-inner__menu-cell{
      padding-top: 4rem;
    }
  }
}
.tab-pane-inner__menu-img{
  max-width: 3rem;
  max-height: 3rem;
  margin: 0 auto;
}

.tab-pane-inner__price{
  @include price-theme;
  width: 30rem;
  margin: 0 auto;
  @media (min-width: 992px) {
    width: 25rem;
    margin-left: 48.5rem;
    float: left;
  }
}
.tab-pane-inner__price-row{
  position: relative;
  @media (min-width: 992px) {
    width: 12rem;
    display: inline-block;
  }
}
.tab-pane-inner__price-cell{
  display: inline-block;
  &:nth-child(2n-1){//column 1
    @include price-caption-cell-theme;
    width: 60%;
    @media (min-width: 992px) {
      width: 100%;
      line-height: 3.2rem;
    }
  }
  &:nth-child(2n){//column 2
    @include price-price-cell-theme;
    text-decoration: line-through;
  }
  &_finally{//finally price
    @include price-price-cell-theme;
    display: inline-block;
    color: $c-primary-dark;
    font-weight: bold;
  }
}

.tab-pane-top{
  @include tab-pane-top-theme;
  padding: 1.5rem 0;
  @media (min-width: 1200px){
    background: $c-fg-primary;
  }
}

.price-decoration{
  @media (min-width: 1200px){
    padding-bottom: 5rem;
  }
  border-bottom: 1px solid $c-price-border;
}